/* FEATURE 1 
Animation when buttons clicked
*/

/* FEATURE 2
Add Sound effect per dice roll
 */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1;
}

body {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 100rem;
  margin: 8rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin-bottom: 2rem;
  position: relative;
}

.hidden {
  display: none;
}

.game-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 3.6rem;
  color: #fff;
  font-weight: 600;
}

.input-max {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.set-number {
  font-size: 2.4rem;
  text-align: center;
  border-radius: 0.8rem;
  height: 3.8rem;
  width: 8rem;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  font-size: 1.8rem;
  vertical-align: center;
}

input::-webkit-input-placeholder {
  text-align: center;
  vertical-align: center;
}

.btn--set,
.btn--rules {
  background-color: #fff;
  box-shadow: 0 2px 1px #b3b3b3;
  border: none;
}

.btn--set {
  font-size: 1.8rem;
  font-weight: 600;
  color: #9c4b7b;
  padding: 0.9rem 1.8rem;
}

.btn--rules {
  font-size: 1.4rem;
  font-weight: 700;
  color: #555;
  padding: 0.8rem 1.6rem;
}

.game-window {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  background-color: #fff;
  opacity: 0.9;
  position: relative;

  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.btn {
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.btn--new,
.btn--roll,
.btn--hold {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  box-shadow: 1px 2px 6px rgba(69, 33, 55, 0.608);
  font-weight: 400;
}

.btn--new {
  top: 4rem;
  font-size: 2.2rem;
  padding: 1rem 1.8rem;
  background-color: #8a426e;
}

.btn--roll {
  bottom: 15rem;
  font-size: 1.6rem;
  padding: 1rem 1.8rem;
  background-color: #634075;
}
.btn--hold {
  bottom: 8rem;
  font-size: 1.6rem;
  padding: 1rem 1.8rem;
  background-color: #634075;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 16rem; */
}

.player-name {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.player.player-active {
  background-color: #e6e6e6;
  opacity: 1;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); */
  transition: all 0.3s;
}

.player.player-active .player-name {
  font-size: 4rem;
  font-weight: 600;
  transition: all 0.3s;
}

.player.player-active .scores {
  font-weight: 500;
  transition: all 0.3s;
}

.dice {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 8rem;
}

.scores {
  font-size: 6rem;
  margin-bottom: 22rem;
  color: #8a426e;
  transition: all 0.3s;
}

.current-box {
  font-size: 2rem;
  width: 9rem;
  height: 6rem;
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 1.2rem;
  margin-bottom: 4rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.current-text {
  font-size: 1.4rem;
}

.current {
  font-size: 3.2rem;
}

.player-winner {
  background-image: url("img/winner.png");
  background-size: contain;
}
